@use "em";

@mixin shadow-transition {
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin shadow-none {
  box-shadow: none;
}

@mixin shadow-elevation-2dp {
  box-shadow:
    0 em.toRem(2) em.toRem(2) 0 rgba(0, 0, 0, 0.14),
    0 em.toRem(1) em.toRem(5) 0 rgba(0, 0, 0, 0.12),
    0 em.toRem(3) em.toRem(1) em.toRem(-2) rgba(0, 0, 0, 0.2);
}

@mixin shadow-elevation-3dp {
  box-shadow:
    0 em.toRem(3) em.toRem(4) 0 rgba(0, 0, 0, 0.14),
    0 em.toRem(1) em.toRem(8) 0 rgba(0, 0, 0, 0.12),
    0 em.toRem(3) em.toRem(3) em.toRem(-2) rgba(0, 0, 0, 0.4);
}

@mixin shadow-elevation-4dp {
  box-shadow:
    0 em.toRem(4) em.toRem(5) 0 rgba(0, 0, 0, 0.14),
    0 em.toRem(1) em.toRem(10) 0 rgba(0, 0, 0, 0.12),
    0 em.toRem(2) em.toRem(4) em.toRem(-1) rgba(0, 0, 0, 0.4);
}

@mixin shadow-elevation-6dp {
  box-shadow:
    0 em.toRem(6) em.toRem(10) 0 rgba(0, 0, 0, 0.14),
    0 em.toRem(1) em.toRem(18) 0 rgba(0, 0, 0, 0.12),
    0 em.toRem(3) em.toRem(5) em.toRem(-1) rgba(0, 0, 0, 0.4);
}

@mixin shadow-elevation-8dp {
  box-shadow:
    0 em.toRem(8) em.toRem(10) em.toRem(1) rgba(0, 0, 0, 0.14),
    0 em.toRem(3) em.toRem(14) em.toRem(2) rgba(0, 0, 0, 0.12),
    0 em.toRem(5) em.toRem(5) em.toRem(-3) rgba(0, 0, 0, 0.4);
}

@mixin shadow-elevation-12dp {
  box-shadow:
    0 em.toRem(12) em.toRem(16) em.toRem(1) rgba(0, 0, 0, 0.14),
    0 em.toRem(4) em.toRem(22) em.toRem(3) rgba(0, 0, 0, 0.12),
    0 em.toRem(6) em.toRem(7) em.toRem(-4) rgba(0, 0, 0, 0.4);
}

@mixin shadow-elevation-16dp {
  box-shadow:
    0 em.toRem(16) em.toRem(24) em.toRem(2) rgba(0, 0, 0, 0.14),
    0 em.toRem(6) em.toRem(30) em.toRem(5) rgba(0, 0, 0, 0.12),
    0 em.toRem(8) em.toRem(10) em.toRem(-5) rgba(0, 0, 0, 0.4);
}

@mixin shadow-elevation-24dp {
  box-shadow:
    0 em.toRem(24) em.toRem(38) em.toRem(3) rgba(0, 0, 0, 0.14),
    0 em.toRem(9) em.toRem(46) em.toRem(8) rgba(0, 0, 0, 0.12),
    0 em.toRem(11) em.toRem(15) em.toRem(-7) rgba(0, 0, 0, 0.4);
}
