@mixin shadow-transition {
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin shadow-none {
  box-shadow: none;
}

@mixin shadow-elevation-2dp {
  box-shadow: 0 toRem(2) toRem(2) 0 rgba(0, 0, 0, 0.14),
    0 toRem(1) toRem(5) 0 rgba(0, 0, 0, 0.12),
    0 toRem(3) toRem(1) toRem(-2) rgba(0, 0, 0, 0.2);
}

@mixin shadow-elevation-3dp {
  box-shadow: 0 toRem(3) toRem(4) 0 rgba(0, 0, 0, 0.14),
    0 toRem(1) toRem(8) 0 rgba(0, 0, 0, 0.12),
    0 toRem(3) toRem(3) toRem(-2) rgba(0, 0, 0, 0.4);
}

@mixin shadow-elevation-4dp {
  box-shadow: 0 toRem(4) toRem(5) 0 rgba(0, 0, 0, 0.14),
    0 toRem(1) toRem(10) 0 rgba(0, 0, 0, 0.12),
    0 toRem(2) toRem(4) toRem(-1) rgba(0, 0, 0, 0.4);
}

@mixin shadow-elevation-6dp {
  box-shadow: 0 toRem(6) toRem(10) 0 rgba(0, 0, 0, 0.14),
    0 toRem(1) toRem(18) 0 rgba(0, 0, 0, 0.12),
    0 toRem(3) toRem(5) toRem(-1) rgba(0, 0, 0, 0.4);
}

@mixin shadow-elevation-8dp {
  box-shadow: 0 toRem(8) toRem(10) toRem(1) rgba(0, 0, 0, 0.14),
    0 toRem(3) toRem(14) toRem(2) rgba(0, 0, 0, 0.12),
    0 toRem(5) toRem(5) toRem(-3) rgba(0, 0, 0, 0.4);
}

@mixin shadow-elevation-12dp {
  box-shadow: 0 toRem(12) toRem(16) toRem(1) rgba(0, 0, 0, 0.14),
    0 toRem(4) toRem(22) toRem(3) rgba(0, 0, 0, 0.12),
    0 toRem(6) toRem(7) toRem(-4) rgba(0, 0, 0, 0.4);
}

@mixin shadow-elevation-16dp {
  box-shadow: 0 toRem(16) toRem(24) toRem(2) rgba(0, 0, 0, 0.14),
    0 toRem(6) toRem(30) toRem(5) rgba(0, 0, 0, 0.12),
    0 toRem(8) toRem(10) toRem(-5) rgba(0, 0, 0, 0.4);
}

@mixin shadow-elevation-24dp {
  box-shadow: 0 toRem(24) toRem(38) toRem(3) rgba(0, 0, 0, 0.14),
    0 toRem(9) toRem(46) toRem(8) rgba(0, 0, 0, 0.12),
    0 toRem(11) toRem(15) toRem(-7) rgba(0, 0, 0, 0.4);
}
