@import "./utilities/all";

html {
  font-family: $system-sans-serif;
  font-size: $em-base-px;
  font-weight: 400;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: map-get($theme-colors, "light");
  text-decoration: underline;
}
