@use "sass:map";

@use "utilities/em";
@use "utilities/globals";

html {
  font-family: globals.$system-sans-serif;
  font-size: em.$em-base-px;
  font-weight: 400;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: map.get(globals.$theme-colors, "light");
  text-decoration: underline;
}
