$system-emoji:
	'Apple Color Emoji',
	'Segoe UI Emoji',
	'Segoe UI Symbol',
	emoji;

$system-sans-serif:
	'-apple-system',
	'BlinkMacSystemFont',
	'Segoe UI',
	'Roboto',
	'Oxygen',
	'Ubuntu',
	'Cantarell',
	'Fira Sans',
	'Droid Sans',
	'Helvetica Neue',
	sans-serif,
	$system-emoji;

$system-serif:
	'Apple Garamond',
	'Baskerville',
	'Times New Roman',
	'Droid Serif',
	'Times',
	'Source Serif Pro',
	serif,
	$system-emoji;

$system-monospace:
	'SFMono-Regular',
	'Consolas',
	'Liberation Mono',
	'Menlo',
	'Courier',
	monospace,
	$system-emoji;
