$system-emoji: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$system-sans-serif: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif, $system-emoji;
$system-serif: 'Apple Garamond', 'Baskerville', 'Georgia', 'Times New Roman', 'Roboto Slab', 'Droid Serif', 'Times', 'Source Serif Pro', serif, $system-emoji;
$system-monospace: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', 'Courier', monospace, $system-emoji;
